<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="~/" />

        ...

        <!--load all Font Awesome styles -->
        <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">

        ...

    </head>

    <body>
        ...
    </body>

</html>