<div class="mb-1 p-5 fa-4x">
    <i class="fa-solid fa-pencil-alt" data-fa-transform="shrink-10 up-.5" data-fa-mask="fa-solid fa-comment" data-fa-mask-id="comment" style="background:#7CBB00; color:#F7F7F7;"></i>
</div>