
<div class="icon-size-page sample-page">
    <SampleTabs>
        <Tabs>
            <SampleTab Text="Blazor">
                <Samples>
                </Samples>
            </SampleTab>

            <SampleTab Text="HTML">
                <Samples>

                </Samples>
            </SampleTab>
        </Tabs>
    </SampleTabs>
</div>
