<div class="mb-1 p-5 fa-4x">
    <i class="fa-solid fa-seedling" data-fa-transform="rotate-90"       style="background:#8B9DC3; color:#007AFF;"></i>
    <i class="fa-solid fa-seedling" data-fa-transform="rotate-180"      style="background:#8B9DC3; color:#007AFF;"></i>
    <i class="fa-solid fa-seedling" data-fa-transform="rotate-270"      style="background:#8B9DC3; color:#007AFF;"></i>
    <i class="fa-solid fa-seedling" data-fa-transform="rotate-30"       style="background:#8B9DC3; color:#007AFF;"></i>
    <i class="fa-solid fa-seedling" data-fa-transform="rotate--30"      style="background:#8B9DC3; color:#007AFF;"></i>
    <i class="fa-solid fa-seedling" data-fa-transform="flip-v"          style="background:#8B9DC3; color:#007AFF;"></i>
    <i class="fa-solid fa-seedling" data-fa-transform="flip-h"          style="background:#8B9DC3; color:#007AFF;"></i>
    <i class="fa-solid fa-seedling" data-fa-transform="flip-v flip-h"   style="background:#8B9DC3; color:#007AFF;"></i>
</div>
