<div class="mb-1 p-5 fa-4x">
    <i class="fa-solid fa-seedling" data-fa-transform="shrink-8"            style="background:#8B9DC3; color:#007AFF;"></i>
    <i class="fa-solid fa-seedling" data-fa-transform="shrink-8 up-6"       style="background:#8B9DC3; color:#007AFF;"></i>
    <i class="fa-solid fa-seedling" data-fa-transform="shrink-8 right-6"    style="background:#8B9DC3; color:#007AFF;"></i>
    <i class="fa-solid fa-seedling" data-fa-transform="shrink-8 down-6"     style="background:#8B9DC3; color:#007AFF;"></i>
    <i class="fa-solid fa-seedling" data-fa-transform="shrink-8 left-6"     style="background:#8B9DC3; color:#007AFF;"></i>
</div>