<div class="mb-1 ps-4 fa-3x">
    <i class="fa-solid fa-sync fa-spin"                             style="color:#007AFF"></i>
    <i class="fa-solid fa-circle-notch fa-spin"                     style="color:#007AFF"></i>
    <i class="fa-solid fa-cog fa-spin"                              style="color:#007AFF"></i>
    <i class="fa-solid fa-cog fa-spin fa-spin-reverse"              style="color:#007AFF"></i>
    <i class="fa-solid fa-spinner fa-spin-pulse"                    style="color:#007AFF"></i>
    <i class="fa-solid fa-spinner fa-spin-pulse fa-spin-reverse"    style="color:#007AFF"></i>
</div>
