<div class="fa-3x mb-1 ps-4">
    <i class="fa-solid fa-circle-plus fa-beat me-4"             style="--fa-animation-delay: 5s; color:#007AFF;" ></i>
    <i class="fa-solid fa-triangle-exclamation fa-fade me-4"    style="--fa-animation-iteration-count: 15; color:#007AFF;" ></i>
    <i class="fa-solid fa-magnet fa-bounce fa-rotate-by me-4"   style="--fa-animation-timing: cubic-bezier(0.2, 3, 0.2, 2); --fa-rotate-angle:90deg; color:#007AFF;"></i>
    <i class="fa-solid fa-sync fa-spin fa-spin-reverse me-4"    style="--fa-beat-fade-opacity: 0.67; --fa-animation-delay: 3s; color:#007AFF;"></i>
</div>
