@page "/animation"

<PageTitle>Font Awesome Animation</PageTitle>

<div class="animation-page sample-page">
    <SampleTabs>
        <Tabs>
            <SampleTab Text="Blazor">
                <Samples>
                    <Sample CssClass="mb-5" SnippetComponent=typeof(AnimationBeatSnippet) Heading="Beat" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(AnimationFadeSnippet) Heading="Fade" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(AnimationBeatFadeSnippet) Heading="Beat-Fade" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(AnimationBounceSnippet) Heading="Bounce" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(AnimationFlipSnippet) Heading="Flip" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(AnimationShakeSnippet) Heading="Shake" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(AnimationSpinSnippet) Heading="Spin" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(AnimationWithUtilitiesSnippet) Heading="Utilities" />
                </Samples>
            </SampleTab>

            <SampleTab Text="HTML">
                <Samples>
                    <Sample CssClass="mb-5" SnippetComponent=typeof(AnimationBeatHtmlSnippet) Heading="Beat" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(AnimationFadeHtmlSnippet) Heading="Fade" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(AnimationBeatFadeHtmlSnippet) Heading="Beat-Fade" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(AnimationBounceHtmlSnippet) Heading="Bounce" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(AnimationFlipHtmlSnippet) Heading="Flip" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(AnimationShakeHtmlSnippet) Heading="Shake" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(AnimationSpinHtmlSnippet) Heading="Spin" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(AnimationWithUtilitiesHtmlSnippet) Heading="Utilities" />
                </Samples>
            </SampleTab>
        </Tabs>
    </SampleTabs>
</div>
