<div class="mb-1 ps-4 fa-3x">
    <i class="fa-solid fa-triangle-exclamation fa-fade" style="color:#007AFF"></i>
    <i class="fa-solid fa-skull-crossbones fa-fade"     style="color:#007AFF"></i>
    <i class="fa-solid fa-computer fa-fade"             style="color:#007AFF"></i>
    <i class="fa-solid fa-i-cursor fa-fade"             style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6; color:#007AFF"></i>
</div>
