<div class="mb-1 ps-4 fa-3x">
    <i class="fa-solid fa-bell fa-shake"        style="color:#007AFF"></i>
    <i class="fa-solid fa-lock fa-shake"        style="color:#007AFF"></i>
    <i class="fa-solid fa-stopwatch fa-shake"   style="color:#007AFF"></i>
    <i class="fa-solid fa-bomb fa-shake"        style="color:#007AFF"></i>
</div>
