<div class="fa-3x mb-1 ps-4">
    <i class="fa-solid fa-person-digging fa-beat-fade me-4"              style="color:#793029;"></i>
    <i class="fa-solid fa-heart-circle-exclamation fa-beat-fade me-4"    style="color:#E32934;"></i>
    <i class="fa-solid fa-poo-bolt fa-beat-fade me-4"                    style="--fa-beat-fade-opacity: 0.1; --fa-beat-fade-scale: 1.25; color:var(--bs-warning);"></i>
    <i class="fa-solid fa-circle-info fa-beat-fade me-4"                 style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075; color:#E32934;"></i>
</div>
