<div class="mb-1 ps-4 fa-3x">
    <i class="fa-solid fa-basketball fa-bounce" style="color:#007AFF;"></i>
    <i class="fa-solid fa-volleyball fa-bounce" style="color:#007AFF;"></i>

    <!-- bounce animation with no "squish" -->
    <i class="fa-solid fa-frog fa-bounce"
       style="--fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; color:#007AFF;">
   </i>

    <!-- bounce animation with no "squish" or "rebound" -->
    <i class="fa-solid fa-envelope fa-bounce"
       style="--fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0; color:#007AFF;"></i>
</div>
