<div class="mb-1 ps-4 fa-3x">
    <i class="fa-solid fa-compact-disc fa-flip"         style="color:#007AFF;"></i>
    <i class="fa-solid fa-camera-rotate fa-flip"        style="color:#007AFF;"></i>
    <i class="fa-solid fa-cassette-tape fa-flip"        style="color:#007AFF;"></i>
    <i class="fa-solid fa-scroll fa-flip"               style="--fa-flip-x: 1; --fa-flip-y: 0;color:#007AFF;"></i>
    <i class="fa-solid fa-money-check-dollar fa-flip"   style="--fa-animation-duration: 3s;color:#007AFF;"></i>
</div>
