@page "/animation-utilities"

<PageTitle>Font Awesome Animation With Utilities</PageTitle>

<h5>Animation Beat Delay(5s), Fade IterationCount(15), Bounce TimingFunction(cubic-bezier(0.2, 3, 0.2, 2)), Spin Direction(Reverse)</h5>
<IconContainer CssClass="mb-1" FixedWidth=false IconSize=IconSize.X03>
    <Icons>
        <Icon CssClass="me-4" IconStyle=IconStyle.Solid IconName="fa-circle-plus" Animation=@Animation.Beat(delayUnit: DurationUnit.Seconds, delay: 5F) Color="#007AFF" />
        <Icon CssClass="me-4" IconStyle=IconStyle.Solid IconName="fa-triangle-exclamation" Animation=@Animation.Fade(iterationCount: 15F) Color="#007AFF" />
        <Icon CssClass="me-4" IconStyle=IconStyle.Solid IconName="fa-magnet" Animation=@(new Bounce() { TimingFunction = "cubic-bezier(0.2, 3, 0.2, 2)" }) Rotate=IconRotate.RotateBy RotateAngle=90F Color="#007AFF" />
        <Icon CssClass="me-4" IconStyle=IconStyle.Solid IconName="fa-sync" Animation=@(new Spin () { DelayUnit= DurationUnit.Seconds, Delay = 3F, Direction = AnimationDirection.Reverse }) Color="#007AFF" />
    </Icons>
</IconContainer>