@page "/fixed-width"

<PageTitle>Font Awesome Fixed Width</PageTitle>

<div class="fixed-width-page sample-page">
    <SampleTabs>
        <Tabs>
            <SampleTab Text="Blazor">
                <Samples>
                    <Sample CssClass="mb-5" SnippetComponent=typeof(FixedWidthSnippet) Heading="Fixed Width" />
                </Samples>
            </SampleTab>

            <SampleTab Text="HTML">
                <Samples>
                    <Sample CssClass="mb-5" SnippetComponent=typeof(FixedWidthHtmlSnippet) Heading="Fixed Width" />
                </Samples>
            </SampleTab>
        </Tabs>
    </SampleTabs>
</div>
