<IconContainer CssClass="p-5" style="font-size: 2rem;">
    <Icons>
        <div>
            <Icon IconStyle=IconStyle.Solid IconName="fa-skating" FixedWidth=true BackgroundColor="DodgerBlue" />
            Skating
        </div>

        <div>
            <Icon IconStyle=IconStyle.Solid IconName="fa-skiing" FixedWidth=true BackgroundColor="SkyBlue" />
            Skiing
        </div>

        <div>
            <Icon IconStyle=IconStyle.Solid IconName="fa-skiing-nordic" FixedWidth=true BackgroundColor="DodgerBlue" />
            Nordic Skiing
        </div>

        <div>
            <Icon IconStyle=IconStyle.Solid IconName="fa-snowboarding" FixedWidth=true BackgroundColor="SkyBlue" />
            Snowboarding
        </div>

        <div>
            <Icon IconStyle=IconStyle.Solid IconName="fa-snowplow" FixedWidth=true BackgroundColor="DodgerBlue" />
            Snowplow
        </div>
    </Icons>
</IconContainer>
