<div class="p-5" style="font-size: 2rem;">
    <div>
        <i class="fa-solid fa-skating fa-fw" style="background:DodgerBlue"></i>
        Skating
    </div>

    <div>
        <i class="fa-solid fa-skiing fa-fw" style="background:SkyBlue"></i>
        Skiing
    </div>

    <div>
        <i class="fa-solid fa-skiing-nordic fa-fw" style="background:DodgerBlue"></i>
        Nordic Skiing
    </div>

    <div>
        <i class="fa-solid fa-snowboarding fa-fw" style="background:SkyBlue"></i>
        Snowboarding
    </div>

    <div>
        <i class="fa-solid fa-snowplow fa-fw" style="background:DodgerBlue"></i>
        Snowplow
    </div>
</div>
