
<ul class="mb-1 p-5 fa-border fa-ul" style="--fa-border-color:#55ACEE;--fa-border-width:2px;--fa-li-margin: 1em;">
    <li>
        <span class="fa-li">
            <i class="fa-solid fa-check-square"></i>
        </span>
        List icons can
    </li>

    <li>
        <span class="fa-li">
            <i class="fa-solid fa-check-square"></i>
        </span>
        be used to
    </li>

    <li>
        <span class="fa-li">
            <i class="fa-solid fa-spinner fa-pulse"></i>
        </span>
        replace bullets
    </li>

    <li>
        <span class="fa-li" style="--fa-li-margin: 2em;">
            <i class="fa-regular fa-square"></i>
        </span>
        in lists
    </li>
</ul>