<ol class="mb-1 p-5 fa-border fa-ul" style="--fa-border-color:#55ACEE;--fa-border-width:2px;">
    <li>
        <span class="fa-li">
            <i class="fa-solid fa-square"></i>
        </span>
        List icons can
    </li>
    <li>
        <span class="fa-li">
            <i class="fa-solid fa-check-square"></i>
        </span>
        be used to
    </li>
    <li>
        <span class="fa-li">
            <i class="fa-solid fa-spinner fa-pulse"></i>
        </span>
        replace bullets
    </li>
    <li>
        <span class="fa-li">
            <i class="fa-regular fa-square"></i>
        </span>
        in lists
    </li>
</ol>
