@page "/events"

<PageTitle>Font Awesome Blazor Events</PageTitle>

<div class="events-page sample-page">
    <SampleTabs>
        <Tabs>
            <SampleTab Text="Blazor">
                <Samples>
                    <Sample CssClass="mb-5" SnippetComponent=typeof(EventsOnClickSnippet) Heading="On Click" />
                </Samples>
            </SampleTab>
        </Tabs>
    </SampleTabs>
</div>

