  <div class="mb-1 p-5 fa-3x">
    <!-- A icon that's rotated 90 degress and flipped horizontally -->
    <span class="fa-rotate-90" style="display: inline-block;">
      <i class="fa-solid fa-snowboarding fa-flip-horizontal"></i>
    </span>

    <!-- A icon that's flipped horizontally and rotated 90 degrees  -->
    <span class="fa-flip-horizontal" style="display: inline-block;">
      <i class="fa-solid fa-snowboarding fa-rotate-90"></i>
    </span>

    <!-- A icon that's flipped vertically and rotated 270 degress  -->
    <span class="fa-flip-vertical" style="display: inline-block;">
      <i class="fa-solid fa-snowboarding fa-rotate-270"></i>
    </span>

    <!-- A icon that's rotated 270 degress and flipped vertically -->
    <span class="fa-rotate-270" style="display: inline-block;">
      <i class="fa-solid fa-snowboarding fa-flip-vertical"></i>
    </span>

    <!-- A icon that's flipped on both axes and arbitrarily rotated 120 degress  -->
    <span class="fa-flip-both" style="display: inline-block;">
      <i class="fa-solid fa-snowboarding fa-rotate-by" style="--fa-rotate-angle: 120deg;"></i>
    </span>

    <!-- A icon that's arbitrarily rotated 20 degres and flipped on both axes  -->
    <span class="fa-rotate-by" style="display: inline-block; --fa-rotate-angle: 20deg;">
      <i class="fa-solid fa-snowboarding fa-flip-both"></i>
    </span>
  </div>
