@page "/icon-basics-style"

<PageTitle>Font Awesome Basics Style</PageTitle>

<div class="icon-basics-style-page sample-page">
    <SampleTabs>
        <Tabs>
            <SampleTab Text="Blazor">
                <Samples>
                    <Sample CssClass="mb-5" SnippetComponent=typeof(SolidSnippet) Heading="Styling Basics Solid" />\
                    <Sample CssClass="mb-5" SnippetComponent=typeof(BrandSnippet) Heading="Styling Basics Brand" />
                </Samples>
            </SampleTab>

            <SampleTab Text="HTML">
                <Samples>
                    <Sample CssClass="mb-5" SnippetComponent=typeof(SolidHtmlSnippet) Heading="Styling Basics Solid" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(BrandHtmlSnippet) Heading="Styling Basics Brand" />
                </Samples>
            </SampleTab>
        </Tabs>
    </SampleTabs>
</div>

