@page "/icon-basics-style"

<PageTitle>Font Awesome Basics Style</PageTitle>


<div class="container-fluid mt-3 mb-5">
    <div class="mt-4 p-5 bg-warning text-dark rounded">
        <span class="badge bg-danger">PRO</span>
        <h1>I think sharp icons need Font Awesome Pro Plan!</h1>
        <p>As of the date of writing this code, there is no free sharp icon.</p>
    </div>
</div>
<div class="icon-basics-style-page sample-page">
    <SampleTabs>
        <Tabs>
            <SampleTab Text="Blazor">
                <Samples>
                    <Sample CssClass="mb-5" SnippetComponent=typeof(SolidSnippet) Heading="Styling Basics Solid" />\
                    <Sample CssClass="mb-5" SnippetComponent=typeof(BrandSnippet) Heading="Styling Basics Brand" />
                </Samples>
            </SampleTab>

            <SampleTab Text="HTML">
                <Samples>
                    <Sample CssClass="mb-5" SnippetComponent=typeof(SolidHtmlSnippet) Heading="Styling Basics Solid" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(BrandHtmlSnippet) Heading="Styling Basics Brand" />
                </Samples>
            </SampleTab>
        </Tabs>
    </SampleTabs>
</div>

