<div class='p-5 fa-4x'>
    <i class='fa-brands fa-youtube' style='color: #E32934;'></i>
    <i class='fa-brands fa-bluetooth' style='color: #0F7DC2;'></i>
    <i class='fa-brands fa-angular' style='color: #E32934;'></i>
    <i class='fa-brands fa-chrome' style='color: #7B0099;'></i>
    <i class='fa-brands fa-edge' style='color: #7CBB00;'></i>
    <i class='fa-brands fa-docker' style='color: #00A1F1;'></i>
</div>
