<IconContainer CssClass="mb-1 p-5">
    <Icons>
        <span style="font-size: 3em; color: Tomato;">
            <Icon IconStyle=IconStyle.Solid IconName="fa-camera" />
        </span>

        <span style="font-size: 48px; color: Dodgerblue;">
            <Icon IconStyle=IconStyle.Solid IconName="fa-camera" />
        </span>

        <span style="font-size: 3rem;">
            <span style="color: Mediumslateblue;">
                <Icon IconStyle=IconStyle.Solid IconName="fa-camera" />
            </span>
        </span>
    </Icons>
</IconContainer>