<div class='mb-1 p-5'>
    <span style="font-size: 3em; color: Tomato;">
        <i class="fa-solid fa-camera"></i>
    </span>

    <span style="font-size: 48px; color: Dodgerblue;">
        <i class="fa-solid fa-camera"></i>
    </span>

    <span style="font-size: 3rem;">
        <span style="color: Mediumslateblue;">
            <i class="fa-solid fa-camera"></i>
        </span>
    </span>
</div>
