<div class="mb-1 p-5 fa-3x">
    <i class="fa-duotone fa-bus-alt" style="--fa-primary-color: gold;"></i>  <!-- primary layer color defined -->
    <i class="fa-duotone fa-bus-alt" style="--fa-primary-color: orangered;"></i> <!-- primary layer color defined -->
    <i class="fa-duotone fa-fill-drip" style="--fa-secondary-color: limegreen;"></i>  <!-- secondary layer color defined -->
    <i class="fa-duotone fa-fill-drip" style="--fa-secondary-color: rebeccapurple;"></i> <!-- secondary layer color defined -->
    <i class="fa-duotone fa-battery-full" style="--fa-primary-color: limegreen; --fa-secondary-color: dimgray;"></i> <!-- secondary + primary layer color defined -->
    <i class="fa-duotone fa-battery-quarter" style="--fa-primary-color: orange; --fa-secondary-color: dimgray;"></i> <!-- secondary + primary layer color defined -->
</div>
