@page "/icon-size"

<PageTitle>Font Awesome Icon Size</PageTitle>

<div class="icon-size-page sample-page">
    <SampleTabs>
        <Tabs>
            <SampleTab Text="Blazor">
                <Samples>
                    <Sample CssClass="mb-5" SnippetComponent=typeof(IconSizeSnippet) Heading="Icon Size" />
                </Samples>
            </SampleTab>

            <SampleTab Text="HTML">
                <Samples>
                    <Sample CssClass="mb-5" SnippetComponent=typeof(IconSizeHtmlSnippet) Heading="Icon Size" />
                </Samples>
            </SampleTab>
        </Tabs>
    </SampleTabs>
</div>
