<div class="p-5">
    <i class="fa-solid fa-camera fa-1x"     style="color:#4B8063"></i>
    <i class="fa-solid fa-camera fa-2x"     style="color:#579774"></i>
    <i class="fa-solid fa-camera fa-3x"     style="color:#67A778"></i>
    <i class="fa-solid fa-camera fa-4x"     style="color:#7CB484"></i>
    <i class="fa-solid fa-camera fa-5x"     style="color:#8FBC8F"></i>
    <i class="fa-solid fa-camera fa-6x"     style="color:#8FBC8F"></i>
    <i class="fa-solid fa-camera fa-7x"     style="color:#7CB484"></i>
    <i class="fa-solid fa-camera fa-8x"     style="color:#67A778"></i>
    <i class="fa-solid fa-camera fa-9x"     style="color:#579774"></i>
    <i class="fa-solid fa-camera fa-10x"    style="color:#4B8063"></i>
</div>
