<div class="mb-1 p-5" style="--fa-inverse:black">
    <span class="fa-stack fa-2x">
        <i class="fab fa-twitter fa-stack-1x fa-inverse" style="--fa-stack-z-index: 2;"></i>
        <i class="fa-solid fa-square fa-stack-2x" style="--fa-stack-z-index: 1;"></i>
    </span>
    <span class="fa-stack fa-2x" style="--fa-inverse: #1da1f2;">
        <i class="fa-solid fa-square fa-stack-2x"></i>
        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
</div>