<div class="mb-1 p-5" style="--fa-inverse:black">
    <style>
        .fa-stack.small {
            font-size: 0.5em;
        }

        i {
            vertical-align: middle;
        }
    </style>
    <i class="fa-regular fa-circle"></i>
    <span class="fa-stack small">
        <i class="fa-regular fa-circle fa-stack-2x"></i>
        <i class="fa-solid fa-flag fa-stack-1x"></i>
    </span>
    <span class="fa-stack small">
        <i class="fa-solid fa-circle fa-stack-2x"></i>
        <i class="fa-solid fa-flag fa-stack-1x fa-inverse"></i>
    </span>
    <i class="fa-regular fa-circle"></i>
</div>