@page "/stacking"

<PageTitle>Font Awesome Stacking</PageTitle>

<div class="container-fluid mt-3 mb-5">
    <div class="mt-4 p-5 bg-warning text-dark rounded">
        <span class="badge bg-danger">Web Font</span>
        <h1>Font Awesome Stacking</h1>
        <p>This feature Doesn't work properly with SVG+JS.</p>
        <p>So, we have to set the <span class="text-blue fw-bold">AutoReplaceSvg</span> property to <span class="text-blue fw-bold">ProcessingSvgMethod.False</span> for the Font Awesome config object so that the Font Awesome framework can show the icons well</p>
    </div>
</div>

<div class="stacking-page sample-page">
    <SampleTabs>
        <Tabs>
            <SampleTab Text="Blazor">
                <Samples>
                    <Sample CssClass="mb-5" SnippetComponent=typeof(StackingSnippet) Heading="Stacking Icons" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(StackingAligningSnippet) Heading="Aligning Stacked and Regular Icons" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(StackingFontSizeSnippet) Heading="Changing the Default Font Size with Stacking" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(StackingCustomizationSnippet) Heading="Customization" />
                </Samples>
            </SampleTab>

            <SampleTab Text="HTML">
                <Samples>
                    <Sample CssClass="mb-5" SnippetComponent=typeof(StackingHtmlSnippet) Heading="Stacking Icons" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(StackingAligningHtmlSnippet) Heading="Aligning Stacked and Regular Icons" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(StackingFontSizeHtmlSnippet) Heading="Changing the Default Font Size with Stacking" />
                    <Sample CssClass="mb-5" SnippetComponent=typeof(StackingCustomizationHtmlSnippet) Heading="Customization" />
                </Samples>
            </SampleTab>
        </Tabs>
    </SampleTabs>
</div>
