<div class="mb-1 p-5" style="--fa-inverse:black">
    <i class="fa-regular fa-circle fa-2x"></i>
    <span class="fa-stack" style="vertical-align: top;">
        <i class="fa-regular fa-circle fa-stack-2x"></i>
        <i class="fa-solid fa-flag fa-stack-1x"></i>
    </span>
    <span class="fa-stack" style="vertical-align: top;">
        <i class="fa-solid fa-circle fa-stack-2x"></i>
        <i class="fa-solid fa-flag fa-stack-1x fa-inverse"></i>
    </span>
    <i class="fa-regular fa-circle fa-2x"></i>
</div>