<div class="mb-1 p-5 fa-4x" style="--fa-inverse:white">
    <span class="fa-layers fa-fw" style="background:#8B9DC3">
        <i class="fa-solid fa-circle" style="color:Tomato"></i>
        <i class="fa-inverse fa-solid fa-times" data-fa-transform="shrink-6"></i>
    </span>

    <span class="fa-layers fa-fw" style="background:#8B9DC3">
        <i class="fa-solid fa-bookmark"></i>
        <i class="fa-inverse fa-solid fa-heart" data-fa-transform="shrink-10 up-2" style="--fa-inverse:Tomato"></i>
    </span>

    <span class="fa-layers fa-fw" style="background:#8B9DC3">
        <i class="fa-solid fa-play" data-fa-transform="rotate--90 grow-4"></i>
        <i class="fa-solid fa-sun fa-inverse" style="--fa-inverse:blue" data-fa-transform="shrink-10 up-2"></i>
        <i class="fa-solid fa-moon fa-inverse" style="--fa-inverse:Tomato" data-fa-transform="shrink-11 down-4.2 left-4"></i>
        <i class="fa-solid fa-star fa-inverse" style="--fa-inverse:green" data-fa-transform="shrink-11 down-4.2 right-4"></i>
    </span>

    <span class="fa-layers fa-fw" style="background:#8B9DC3">
        <i class="fa-solid fa-calendar"></i>
        <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-8 down-3" style="font-weight:900;--fa-inverse:Mediumslateblue">27</span>
    </span>

    <span class="fa-layers fa-fw" style="background:#8B9DC3">
        <i class="fa-solid fa-certificate"></i>
        <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-11.5 rotate--30" style="font-weight:900;--fa-inverse:Mediumslateblue">NEW</span>
    </span>

    <span class="fa-layers fa-fw" style="background:#8B9DC3">
        <i class="fa-solid fa-envelope"></i>
        <span class="fa-layers-counter" style="background:Tomato">1,419</span>
    </span>
</div>